<div class="sidebar">
	<div class="brand"><a href="/">Go เว็บตัวอย่าง</a> <a class="menu-btn" href="#">เปิด<br>เมนู</a></div>
	<div class="sections closed">
		<div class="section">
			<div class="category">พื้นฐาน</div>
            <div><a href="/hello-world/" title="Hello World">Hello World</a></div>
            <div><a href="/http-server/" title="HTTP Server">HTTP เซิร์ฟเวอร์</a></div>
            <div><a href="/routes-using-gorilla-mux/" title="Routing - ซึ่งใช้แพ็กเกจ gorilla/mux">เร้าติ้ง</a></div>
            <div><a href="/templates/" title="Templates">เทมเพลต</a></div>
            <div><a href="/forms/" title="Requests &amp; Forms">รีเควสต์และฟอร์ม</a></div>
            <div><a href="/static-files/" title="Assets &amp; Files">แอสเสทและไฟล์</a></div>
            <div><a href="/basic-middleware/" title="Middleware (Basic)">มิดเดิลแวร์ - ขั้นพื้นฐาน</a></div>
            <div><a href="/advanced-middleware/" title="Middleware (Advanced)">มิดเดิลแวร์ - ขั้นสูง</a></div>
            <div><a href="/sessions/" title="Session">เซสชั่น</a></div>
            <!-- <div><a href="/hello-world/">Validation</a></div> -->
            <div><a href="/json/" title="JSON"> เจสัน</a></div>
            <div><a href="/websockets/" title="Websockets">เว็บซ็อกเก็ต</a></div>

		</div>
		<div class="section">
            <div class="category">ความปลอดภัย</div>
			<!-- <div><a href="/hello-world/">CSRF Protection</a></div> -->
            <div><a href="/password-hashing/" title="Password Hashing (bcrypt)">เข้ารหัสแบบแฮช</a></div>
			<!-- <div><a href="/hello-world/">HTTPS via Let's Encrypt</a></div> -->
		</div>
		<!-- <div class="section">
			<div class="category">Database</div>
			<div><a href="/hello-world/">The database/sql package</a></div>
			<div><a href="/hello-world/">PostgreSQL</a></div>
			<div><a href="/hello-world/">MySQL</a></div>
			<div><a href="/hello-world/">Mongo</a></div>
		</div> -->
		<!-- <div class="section">
			<div class="category">Testing</div>
			<div><a href="/hello-world/">Basic testing</a></div>
			<div><a href="/hello-world/">HTTP Handlers</a></div>
		</div> -->
		<!-- <div class="section">
			<div class="category">Libraries</div>
			<div><a href="/hello-world/">Installing a new package</a></div>
		</div> -->
	</div>
	<div class="sidebar-bottom" style="padding-top: 50px">
		<a href="https://goo.gl/1nKLZE" class="no-icon" target="_blank"><img style="display: block; width: 100%;" src="/vim-gopher-shirt.jpeg" title="Vim Gopher T-Shirt"></a>
		<div style="text-align: center; font-size: 0.8em; text-decoration: underline"><a href="https://goo.gl/1nKLZE" target="_blank">Vim Gopher T-Shirt</a></div>
		<br>
		<a href="https://goo.gl/7EGZQM" class="no-icon" target="_blank"><img style="display: block; width: 100%;" src="/gotham-gopher-shirt.jpg" title="Gotham Gopher T-Shirt"></a>
		<div style="text-align: center; font-size: 0.8em; text-decoration: underline"><a href="https://goo.gl/7EGZQM" target="_blank">Batman Gopher T-Shirt</a></div>
		<br>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8182831478992020"
             data-ad-slot="3075617769"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
	</div>
</div>
